# coverage.py configuration
[run]
source = app.py, lib/
omit =
    */tests/*
    */__pycache__/*
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def main\(.*\):
    raise NotImplementedError
    logger\.
    pass

precision = 1
show_missing = true
skip_covered = false
